arduino-python3==0.6
mypy==0.910
mypy-extensions==0.4.3
numpy==1.21.0
opencv-python==4.5.3.56
playsound==1.2.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyserial==3.5
toml==0.10.2
typing-extensions==3.10.0.0
vulture==2.3
